html
    head
        link(rel="stylesheet", href="style/css/global.css")
        link(rel="stylesheet", href="style/css/home/home.css")
        title Dejvokep.com
    body
        header
            .menu#menu
                .web-title
                    .logo
                    .title
                        h1 DEJVOKEP
                .options
                    a.clickable(href="#top")
                        .option
                            p Home
                    a.clickable(href="#about-me")
                        .option
                            p About
                    a.clickable(href="#projects")
                        .option
                            p Projects
                    a.clickable(href="#statistics")
                        .option
                            p Statistics
        .banner(id="top")
            .container
                .title
                    p Take the road to cool 
                        span#typewriter-text software.
                .button-box
                    a.clickable(href="#projects")
                        .button.button-hover
                            .content
                                .text
                                    p Download
                                .icon
                                    img(src="graphics/icon/download.png", alt="")
                    a.clickable(href="https://discord.gg/BbhADEy" target="_blank")
                        .button.button-hover
                            .content
                                .text
                                    p Request yours
                                .icon
                                    img(src="graphics/icon/question.png", alt="")
            .location
                .icon
                    img(src="graphics/icon/pin.png", alt="")
                .text
                    p D1 motorway, Poprad, Slovakia
            a.clickable(href="#about-me")
                .scroll.button-hover
                    .icon-right.icon
                        img(src="graphics/icon/arrow-down.png", alt="")
                    .icon-left.icon
                        img(src="graphics/icon/arrow-down.png", alt="")
                    .text
                        p Scroll down for more
        
        #back-to-top(style="transform: translateX(200px)")
            a.clickable(href="#top")
                .icon
                    img(src="graphics/icon/arrow-back-to-top.png", alt="")
        .section(id="about-me")
            .title-box
                .title About me
            .text-box.about
                .about-text.item
                    h1 Nice to meet You,
                    p My name is dejvokep (formerly known as davidcubesvk) and I am an independent developer with over 3 years of coding experience.
                    p I mostly program plugins for game servers based on Spigot platform, also Discord bots with wide range of uses. Most of my projects are public, but I also take personal requests.
                    p In free time, besides programming, I enjoy watching movies, playing games with my friends and cycling.
                    p I am also very conscientous, take things seriously and when I start with something, I never give up and mostly take it all the way to the end, although, it's not always that easy.
                    p In the past I had the chance to meet amazing people and work on large server networks with big player bases.
                    p Thank you for visiting my website!
                .experience-box.item
                    h1 My experience
                    .experience
                        .description
                            p.name Java
                                a.time 3 years
                        .bar
                            .fill
                    .experience
                        .description
                            p.name JavaScript
                                a.time 1 year
                        .bar
                            .fill
                    .experience
                        .description
                            p.name HTML, CSS, Sass
                                a.time 2 years
                        .bar
                            .fill
                    .experience
                        .description
                            p.name SQL (Structured Query Language)
                                a.time 2 years
                        .bar
                            .fill
                    .experience
                        .description
                            p.name Redis
                                a.time 1 year
                        .bar
                            .fill
                    .experience
                        .description
                            p.name Maven
                                a.time 3 years
                        .bar
                            .fill
                    .experience
                        .description
                            p.name GIT and version control
                                a.time 1 year
                        .bar
                            .fill
                    .experience
                        .description
                            p.name Node.js
                                a.time 6 months
                        .bar
                            .fill
                    .experience
                        .description
                            p.name Spigot and BungeeCord API
                                a.time 3 years
                        .bar
                            .fill
                    .experience
                        .description
                            p.name JDA (Java Discord API)
                                a.time 2 years
                        .bar
                            .fill
        .section(id="projects")
            .title-box
                .title Projects (public ones)
            .text-box.projects
                .project.item
                    img(src="graphics/icon/secured-network.png", alt="").icon
                    .gradient
                    .menu
                        p.name SecuredNetwork
                        .button-box
                            a.clickable(href=securednetwork.page target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Project page
                                        .icon
                                            img(src="graphics/icon/foreign.png", alt="")
                            a.clickable(href=securednetwork.docs target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Documentation
                                        .icon
                                            img(src="graphics/icon/open-book.png", alt="")
                            a.clickable(href=securednetwork.download target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Download
                                        .icon
                                            img(src="graphics/icon/download.png", alt="")
                .project.item
                    img(src="graphics/icon/clicks-per-second.png", alt="").icon
                    .gradient
                    .menu
                        p.name ClicksPerSecond
                        .button-box
                            a.clickable(href=clickspersecond.page target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Project page
                                        .icon
                                            img(src="graphics/icon/foreign.png", alt="")
                            a.clickable(href=clickspersecond.docs target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Documentation
                                        .icon
                                            img(src="graphics/icon/open-book.png", alt="")
                            a.clickable(href=clickspersecond.download target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Download
                                        .icon
                                            img(src="graphics/icon/download.png", alt="")
                .project.item
                    img(src="graphics/icon/repair-item.png", alt="").icon
                    .gradient
                    .menu
                        p.name RepairItem
                        .button-box
                            a.clickable(href=repairitem.page target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Project page
                                        .icon
                                            img(src="graphics/icon/foreign.png", alt="")
                            a.clickable(href=repairitem.docs target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Documentation
                                        .icon
                                            img(src="graphics/icon/open-book.png", alt="")
                            a.clickable(href=repairitem.download target="_blank")
                                .button.button-hover
                                    .content
                                        .text
                                            p Download
                                        .icon
                                            img(src="graphics/icon/download.png", alt="")
        .section.statistics(id="statistics")
            .title-box
                .title Statistics
            .text-box.statistics
                .statistic
                    p.name Plugin downloads:
                        a.value 0
                        a.to-value= plugin_downloads
                .statistic
                    p.name Projects:
                        a.value 0
                        a.to-value= projects
                .statistic
                    p.name Average stars in reviews:
                        a.value 0
                        a.to-value= average_stars
        footer
            .footer
                .web-title
                    .logo
                    .title
                        h1 DEJVOKEP
                .text
                    p.
                        #[strong Privacy statement:] no personal information are collected.
    script(src="script/home/typewriter.js")
    script(src="script/home/scroll-reveal.js", type="module")
    script(src="script/home/animations.js" type="module")